name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - name: Create timestamp output
      id: set_timestamp
      run: echo "timestamp=$(date +%s)" >> $GITHUB_OUTPUT
    - uses: actions/checkout@v4
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    #- name: Build the Docker image
    #  run: docker build . --file Dockerfile --tag hello-world-app:$(date +%s)
    - name: Build and push Docker image
      uses: docker/build-push-action@v6
      with:
        context: .
        push: true
        tags: manoharsj/dockerapp:${{ steps.set_timestamp.outputs.timestamp }}
